<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="pt.ulisboa.tecnico.cmov.cmovproject">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.LOCATION_HARDWARE.location.gps" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <meta-data
        android:name="com.google.android.gms.version"
        android:value="@integer/google_play_services_version" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="18" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CMOVProject"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".PrivateChatRoom"
            android:exported="true"
            android:launchMode="singleTask">

        </activity>
        <activity
            android:name=".GeoFenceRooms"
            android:exported="false" />


        <activity
            android:name=".ChooseTypeofRoom"
            android:exported="false" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAuEenkyze7tFljJQpWcTWgDy7meRzIfjI" />

        <activity
            android:name=".MapsActivity"
            android:exported="false"
            android:label="@string/title_activity_maps" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.myapplication.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity
            android:name=".ChatRoomPicker"
            android:exported="true">

        </activity>

        <activity
            android:name=".RegisterActivity"
            android:exported="false" />

        <activity
            android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ChatRoom"
            android:exported="false"
            android:parentActivityName=".ChatOverviewActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ChatOverviewActivity" />
        </activity>
        <activity
            android:name=".ChatOverviewActivity"
            android:exported="false"
            android:parentActivityName=".LoginActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".LoginActivity" />
        </activity>
        <activity
            android:name=".PrivateRoom"
            android:exported="true"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:scheme="https"
                    android:host="cmovg13.page.link"
                    android:pathPrefix="/room" />
                <data
                    android:scheme="http"
                    android:host="cmovg13.page.link"
                    android:pathPrefix="/room" />
            </intent-filter>
        </activity>
        <service
            android:name=".NotificationService"
            android:enabled="true"/>
     </application>
</manifest>